
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}


h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ff00bf;
}


body {
    background-color: grey;
}

.btn {
    background-color: #ff008c;
    color: #fff;
    padding: 10px 20px;
    
    border-radius: 5px;
    cursor: pointer;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.fade-in {
    opacity: 3;
    transition: opacity 0.5s ease-in-out;
}
.fade-in.active {
    opacity: 1;
}
